<% content_for :item do %>
  <div class="col-sm-6 col-md-4">
  <%= search_form_for @search do |f| %>
    <%= image_tag item.photo_url.url %>
    <%= item.category %>
    <%= item.subcategory %>
    <%= link_to 'Show', item %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>  
<% end %>

