
<div class="profile">
<%= image_tag "triabgle.jpg" %>
</div>

<div class="profileinfo">
<div class="form-group">
<h3>Your Profile</h3>
  <strong>Name:</strong>
  <%= @user.full_name %>
</div>

<div class="form-group">
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<div class="form-group">
  <strong>Postcode:</strong>
  <%= @user.postcode %>
</div>

<div class="form-group">
  <strong>City:</strong>
  <%= @user.city %>
</div>

<div class="form-group">
  <strong>Rating:</strong>
  <%= @user.rating %>
</div>


<div class="form-group">
<h3>Your Posted Items</h3>
<% @user.items.each do |item| %>
  <hr>
  <p><%= item.title %></p>
  <% if item.given?  %>
    This item has been given to <%= item.accepted_request.user.full_name %>
  <% elsif item.requests.length > 0 %>
    <% item.requests.each_with_index do |request, index| %>
      <h4><%= index %> <p>Item requested by <%= request.user.full_name %><p></h4>
      <%= link_to 'Accept', request_path(request, { request: { accepted: true } }), method: :patch %>
      <%= link_to 'Decline', request_path(request, { request: { accepted: false } }), method: :patch %>
    <% end %>

  <% end %>
  <%= link_to "View item", item%>
<% end %>

<h3>Your Requested Items</h3>
<% @user.requests.each do |request| %>
  <%= request.item.title %>
  <% if request.accepted %>
    Request accepted by <%= request.item.user.full_name %>, please contact on <%= request.item.user.phone_number %>
  <% end %>
<% end %>
<br>
<%= link_to 'Edit Your Details', edit_user_registration_path %>
</div>
</div>
