
<p id="notice"><%= notice %></p>

<%= render "item_search_box" %>

<h1>Get</h1>


    <% @items.each do |item| %>
    <div id="grid" data-columns>
      <div class="column size-1of3">
          <div class="thumbnail">
            <%= image_tag item.photo_url, width: 100 %>
            <div class="caption">
              <%= item.title %> 
              <p><%= link_to 'Info', item %></p>
            </div>
          </div>
        </div>
      </div>
  </div>  
    

 <!-- 
      <%= image_tag item.photo_url, width: 100 %>
      <%= item.title %>   
      <%= item.user.full_name if item.user %>
      <%= item.description %> -->
 
      <% end %>







