<p id="notice"><%= notice %></p>

<%= render "item_search_box" %>

<h1>Get</h1>


<div id="grid" data-columns>
  <div>Item #1</div>
  <div>Item #2</div>
  <div>Item #3</div>
  …
  <div>Item #20</div>

    <% @items.each do |item| %>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag item.photo_url, width: 100 %>
            <div class="caption">
              <%= item.title %> 
              <p><%= link_to 'Info', item %></p>
            </div>
          </div>
        </div>
      </div>
  </div>  
    

 <!-- 
      <%= image_tag item.photo_url, width: 100 %>
      <%= item.title %>   
      <%= item.user.full_name if item.user %>
      <%= item.description %> -->
 
      <% end %>

