
<div class="form-group">
  <strong>Title:</strong> <br>
  <%= @item.title %>
</div>

<div class="form-group">
  <strong>Description:</strong> <br>
  <%= @item.description %>
  </div>

<div class="form-group">
  <strong>Image:</strong> <br>
 <%= image_tag @item.photo_url.url %>
 </div>

<div class="form-group">
  <strong>Category:</strong> <br>
  <%= @item.category %>
  </div>

<div class="form-group">
  <strong>Subcategory:</strong> <br>
  <%= @item.subcategory %>
  </div>

  <div class="form-group">
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %> |
<%= link_to 'New Item', new_item_path %>
</div>